*HEAD
{
   color:lightcoral;
   background-color:bisque;
   border-style: ridge;
   border-color: grey;
}

a:link 
{
    color: red;
}
  
  /* visited link */
  a:visited 
{
    color: brown;
}
  
  /* mouse over link */
  a:hover 
{
    color: hotpink;
}
  
  /* selected link */
  a:active 
{
    color: lightblue;
}
