body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Geneva,Verdana, sans-serif;
    background: rgb(119,207,241);
    background: -moz-radial-gradient(circle, rgba(119,207,241,1) 49%, rgba(88,231,200,0.9416141456582633) 100%);
    background: -webkit-radial-gradient(circle, rgba(119,207,241,1) 49%, rgba(88,231,200,0.9416141456582633) 100%);
    background: radial-gradient(circle, rgba(119,207,241,1) 49%, rgba(88,231,200,0.9416141456582633) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#77cff1",endColorstr="#58e7c8",GradientType=1);
}

.HEAD
{
   width:1580px;
   border:1px solid transparent;
   margin:-8px;
   padding:10px;
   background: rgb(16,144,193);
   background: -moz-radial-gradient(circle, rgba(16,144,193,1) 49%, rgba(28,194,158,1) 100%);
   background: -webkit-radial-gradient(circle, rgba(16,144,193,1) 49%, rgba(28,194,158,1) 100%);
   background: radial-gradient(circle, rgba(16,144,193,1) 49%, rgba(28,194,158,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1090c1",endColorstr="#1cc29e",GradientType=1);
}

#sucker
{
   border:10px solid blue;
   border-radius:50%;
   margin:200px;
   padding:5px;

}

button
{
   font-size:20px;
   border:1px solid rgb(90, 33, 33);
   margin:0px;
   padding:10px;
}


