body
{
   background-color:#4190b5;
}

#Head
{
  color:Black;
  background-color:whitesmoke;
  border-radius: 15px;
  border-color:transparent;
  border-style: ridge;
  text-align: center;
}

.Heading>h2
{
  color:black; 
}

a:link
{
  color:red;
}

a:visited
{
  color:red;
}

a:hover
{
  color:red;
}

a:active
{
  color:black;
}



